<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Users Page
    <ul>
        {% for user in all_users %}
            <li>{{user.id}} - {{user.name}} 
                <a href="{% url 'edit' user.id %}">Editar</a>
            </li>
        {% endfor %}
    </ul>
    <form action="{% url 'save' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="name">
        <button type="submit">Criar</button>
    </form>
</body>
</html>